/* arabic */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: local('Amiri'), local('Amiri-Regular'), url(../fonts/q5-1TCStSbgP29E5xmXXg4DGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+FB50-FDFF, U+FE80-FEFC;
}
/* latin */
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  src: local('Amiri'), local('Amiri-Regular'), url(../fonts/fQhxTHvVTTJwtu14_lGpYaCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Expletus Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Expletus Sans Bold'), local('ExpletusSans-Bold'), url(../fonts/cl6rhMY77Ilk8lB_uYRRwCFcOIMZuYN7K3FRrJkYYms.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font-family: 'Expletus Sans', cursive;
  color: #4d575d;
  background-color: white;
}

.main {
  background-color: white;
}

h1 {
  font-size: 5vh;
}

h1, h2 {
  margin-top:0;
  margin-bottom:0;
}

h2 {
  font-size: 4vh;
  margin-top:1vh;
}
h3 {
  font-size: 3vh;
  margin-top:0;
}


.arabic {
  font-family: 'Amiri', serif;
}

.a-header {
  /*line-height: 8vh;*/
  font-size: 5vh;
}

.english-header {
  /*line-height: 8vh;*/
  font-size: 6vh;
}

.header-small-text {
  font-size: 3vh;
}

.navbar {
  margin-bottom: 1vh;
}

#date {
  font-family: 'Expletus Sans', cursive;
  font-size: 4vh;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}
.hero-circle {
  width: 12vh;
  height: 12vh;
  margin: 0 auto;
  position: relative;
  border: 0.4vh solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 8px rgba(34,34,34,0.3),inset 0 1px 8px rgba(34,34,34,0.3);
}

.hero-face {
  width: 100%;
  height: 100%;
}

.hero-hour {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.25vh 0 -0.25vh -25%;
  padding: 0.25vh 0 0.25vh 25%;
  background: #fff;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  border-radius: 0.25vh 0 0 0.25vh;
}

.hero-minute {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -0.25vh 0;
  padding: 40% 0.25vh 0;
  background: #fff;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  border-radius: 0.25vh 0.25vh 0 0;
}

.hero-second {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40% -0.15vh 0 0;
  padding: 40% 0.15vh 0;
  background: #fff;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

.head-background {
  background: url("../imgs/index-bg.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 18vh;
  color: white;
}

.img-wrapper {
  text-align: center;
}

.head-text {
  margin-top: 0px;
}

.footer {
  margin-bottom:30px;
}

/*.header-bar {*/
/*  height: 20vh;*/
/*}*/
.carousel .item {
    width: 100%; /*slider width*/
    /*max-height: 70vh; !*slider height*!*/
}
.carousel .item img {
    /*height: 1080px; !*img width*!*/
    height: 74vh; /*img width*/
    margin: 0 auto;
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}

.logo {
 height:12vh !important;
 border-radius:12vh;
}

.config-header h1 {
  font-size: 6vh;
}

.nav-tabs {
  margin-bottom: 15px;
}

.panel {
  height: 36.5vh;
  margin-bottom: 1vh;
}

.panel-body{
  padding: 0;
}
.panel-default > .panel-heading {
  color: #4d575d;
  padding: 1vh 1vh;
}

.active > .panel-heading {
  background: #22a5ad;
  color: #ffffff;
  border-color: #22a5ad;
}

hr{
  margin-top: 0;
  margin-bottom: 0;
}

canvas {
  line-height: 0;
  height: 19.5vh;
}